@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "gotham Book";
    src: url(../assets/GothamSSm-Book.woff2);
}

* {
    font-family: "Gotham Book", sans-serif;
}

.landingpage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    transition: 0.5s;
    font-family: serif;
}

.bg-overlay {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.navbar {
    width: 100%;
    height: 6em;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

@layer components {
    .tabPanel {
        @apply grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3;
    }
}

/* player Css */

.container {
    display: flex;
    height: 100%;
    background-color: #c6c6c6;
}

.slideshow{
    margin: auto;
  border-radius: 16px;
  position: relative;
}

.prevButton {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.nextButton {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}


    .help {
            font-size: 2rem;
            text-align: center;
            padding: 0 20px;
            color: #fff;
            text-decoration-color: #f27121;
}
